@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  font-weight: 500;
  color: white;
  padding: 0;
  margin: 0;
  background: #6c757d;
  height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
}

button{
    color:white;
    height:80px;
    width:90px;
    background-color:rgba(30,30,30,0.95);
    border:1px solid gray;
}

button:hover{
    background-color:rgba(30,30,30,0.55);
}

.wynik{
    height:80px;
    width:100%;
    margin:20px 10px 10px 10px;
    background-color: rgba(30,30,30,0.95);
    border:2px solid gray;
}

.kalkulator{
    height:520px;
    width:400px;
    box-shadow: 5px 5px 5px black;
    background-color: rgba(30,30,30,0.75);
    display:flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}
.ac{
    margin-left:10px;
}

.dzielenie{
    margin-right:10px;
}

.ac, .del, .sqrt{
    flex-grow: 1;
}

.potega, .odejmowanie, .dodawanie, .wynik_btn{
    margin-right:10px;
}

#one, #two, #three, #four, #five, #six, #seven, #eight, #nine, #zero{
    height:80px;
    flex-grow: 1;
    background-color:rgba(45,45,45,0.95);
}

.klik:hover{
    border:2px solid black;
}

#one, #four, #seven, #zero{
    margin-left:10px;
}